/*Font size and background colour*/
* {
    font-size: 30px;
    letter-spacing: 1px;
}

/* Logo */
.LogoName{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: rgb(7, 254, 254);
}

.Logo{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 30px;
}

/* Nav */
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;

    background-color: #eef2e0;

    justify-content: space-evenly;
    border-bottom: 1.5px solid black;
    border-radius: 0 0 5px 5px;
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

/* Scrolling and navbar fix*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}

/* Making space for nav bar so no overlap happens */
main{
    margin-top: 100px;
}

/* Space between the elements in main */
main .Offer, 
main .About, 
main .Contact, 
main .Sign {
    margin-top: 25px;
}

/* Background colour and image */
body {
    background-color: #c4c4c4;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Welcome text */
.Welcome {
    font-size: 40px;
    text-align: center;
}

/*Discover text*/
.Discover {
    text-align: center;
    padding: 5px;
}

/* list */
.list { 
    margin-top: -10px;
}

/* About text */
.About{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.AboutPara{
    flex: 1; /* Flex box space*/
}

.AboutPara b{
    display: block;
}

.AboutImg{
    flex: 0.5; /* Flex box space*/
    height: auto;
    border-radius: 16px;
}

.Contact{
    margin-top: 60px;
}

/* Error message*/
#errors{
    color: rgb(243, 79, 79);
    font-weight: bold;
    margin-bottom: 15px;
}

/* Form Style*/
#form button {
    width: 100%;
    max-width: 200px;
    height: 45px;
    margin-top: 10px;
    cursor: pointer;
}

#form input {
    max-width: 400px;
    height: 45px;
    padding: 10px;
    border: 1px solid #b0b0b0;
    border-left: none;
    border-radius: 0 4px 4px 0;
    box-sizing: border-box;
}

#form label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    background-color: #555555;
    border-radius: 4px;
}

